body{
  margin: 0;
  display:flex;
  align-items: center;
  height: 100vh;
  justify-content: center;

  
  /* background-color: aqua; */
}

#app{
  height: 100vh;
  display: block;
  width: 100%;
  background-color: rgb(244, 224, 211);
}
img{
  /* width: 1500px; */
}

.eye{
  opacity: 1;
  transform: translateX(80px);
  transition: all .3s;
}
.off {
  /* opacity: 0; */
  transform:none;
  /* transform: translateY(40px); */
}
button{
  padding: 15px;
  font-size: 40px;
  margin: 20px;

}