:root{
  --imagefirstwidth:1248px;
  --efw:12px;
  --efh:18px;
  --neww:3000px
}
body{
  margin: 0;
  display:flex;
  align-items: center;
  height: 100vh;
  justify-content: center;

  
  /* background-color: aqua; */
}

img{
  width: 2000px;
  display: block;
}
.box{
  /* border: 25px red solid; */
  position: relative;
}
svg{
  position: absolute;
  aspect-ratio: 12/18;
  top: 0;
  left: 0;
  width:200px
}